@charset "utf-8";
/* CSS Document */

.bmBox01{width:460px;height:260px;}
.bmCon{border:3px solid #ccc;width:454px;height:254px;background:url(../bmImages/bmBox1.jpg) no-repeat 160px 10px;margin-bottom:25px;position:relative;}
.bmCon:hover{border:3px solid #fe5050;}
.bmCon01{background:url(../bmImages/bmBox2.jpg) no-repeat 160px 10px;}
.bmCon02{background:url(../bmImages/bmBox3.jpg) no-repeat 160px 10px;}
.bmCon03{background:url(../bmImages/bmBox4.jpg) no-repeat 160px 10px;}
.bmCon h1{color:#f00;font-family:"微软雅黑";font-weight:normal;margin-top:10px;margin-left:10px;}
.bmCon01 h1{color:#e77247;}
.bmCon02 h1{color:#008472;}
.bmCon03 h1{color:#2b74a9;}
.bmBtn{position:absolute;width:225px;height:50px;bottom:10px;left:125px;background:url(../bmImages/bmBtnBg.gif) no-repeat 0px 0px;text-indent:-9999em;}
.bmBtn01{background-position:0px -50px;}
.bmBtn02{background-position:0px -100px;}
.bmBtn03{background-position:0px -150px;}