@charset "utf-8";
/* CSS Document */

/* 全局样式-------base-css-------*/

html,body,h1,h2,h3,h4,h5,h6,p,div,span,em,img,a,ul,li,ol,dl,dt,dd,input,button,form,textarea,select{margin:0px;padding:0px;}
a{ text-decoration:none; border:0; color:#666; cursor:pointer;}
a:hover{ color:#ff5555;text-decoration:underline;}
a:focus{ outline:0 none;}
img,submit,button,option{ border:none medium; vertical-align:middle;  }
ul,ol,li{list-style:none;}
em,i{ font-style:normal;}
body{ color:#666; text-align:center; font-size:12px; line-height:2em; font-family: arial,"宋体" }
.gray{ color:#676767;}
.red{color:#f00;}
.cl01{color:#1A87D9}
.cl02{color:#FB534E}
.clear{ clear:both; height:1px; margin:0; padding:0; overflow:hidden;}
table{ border-collapse:collapse;}
.mt12{height:12px;}
.dotted{height:1px;background:#ccc; }
.left{float:left;}
.right{float:right;}

#main{ width:980px; margin:0px auto; text-align:left;}



/*底部*/
.footernew{color:#515151;font-size:12px;height:100px;line-height:24px;margin:12px auto 0;overflow:hidden;text-align:center;width:1100px;}
.footheight{height:70px;overflow:hidden;}
.footernew a{color:#515151;text-decoration:none;}
.footernew a.lchot{color:#BD0A01;}
.footernew a:hover{color:#BD0A01;text-decoration:underline;}
.footernew a:visited{color:#515151;}
.footernew div{margin:0 auto;width:646px;}
.footernew p{border:1px solid #D2D2D2;float:left;font-size:12px;height:36px;line-height:20px;margin:6px;padding:0;width:110px;overflow:hidden;}
.footernew .fl{float:left;padding:3px;}
.footernew .fr{float:right;padding:5px 3px 0;width:72px;}